ohmyzsh/ohmyzsh path:lib
{{ if eq .chezmoi.os "darwin" -}}
ohmyzsh/ohmyzsh path:plugins/brew
{{ end -}}
ohmyzsh/ohmyzsh path:plugins/composer
ohmyzsh/ohmyzsh path:plugins/nvm
nojhan/liquidprompt
Aloxaf/fzf-tab
zsh-users/zsh-autosuggestions
zsh-users/zsh-syntax-highlighting
