EDITOR=nvim
TZ=America/New_York
LANG=en_US.UTF-8
{{ if eq .chezmoi.os "darwin" -}}
CLICOLOR=1
{{ end -}}

# Add local bin to PATH
export PATH="$HOME/.local/bin:$PATH"

autoload -Uz compinit && compinit

source ~/.antidote/antidote.zsh
antidote load ~/.config/zsh/.zsh_plugins.txt

{{ if eq .chezmoi.os "darwin" -}}
export EDITOR TZ LANG CLICOLOR
{{ else -}}
export EDITOR TZ LANG
{{ end -}}

# Disable brew analytics reporting
export HOMEBREW_NO_ANALYTICS=1

export DOCKER_DEFAULT_PLATFORM=linux/amd64

# Source shell config, aliases, and functions
for f in ~/.config/shell/config/*.sh; do [ -r "$f" ] && . "$f"; done
for f in ~/.config/shell/aliases/*.sh; do [ -r "$f" ] && . "$f"; done
for f in ~/.config/shell/functions/*.sh; do [ -r "$f" ] && . "$f"; done

# http://lpetr.org/blog/archives/preserve-bash-history
# Maximum number of history lines in memory
export HISTSIZE=50000

# Maximum number of history lines on disk
export HISTFILESIZE=50000

# Ignore duplicate lines
export HISTCONTROL=ignoredups:erasedups

export HISTFILE="$HOME/.history"

# When the shell exits, append to the history file
#  instead of overwriting it
setopt append_history

# show completion menu on succesive tab press
setopt auto_menu

# ignore duplication command history list
setopt hist_ignore_dups

# After each command, append to the history file
#  and reread it
export PROMPT_COMMAND="${PROMPT_COMMAND:+$PROMPT_COMMAND$'\n'}history -a; history -c; history -r"

# Load a local profile
[ -r "$HOME/.localprofile" ] && . "$HOME/.localprofile"
