[user]
    name  = {{ .name }}
    email = {{ .email }}

[alias]
    st = status
    co = checkout
    com = commit
    br = branch
    hist = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --
    ctags = !.git/hooks/ctags

[branch]
    autosetuprebase = always

[branch "master"]
    rebase = true

[color]
    ui = true

[color "status"]
    changed = "blue normal bold"
    header  = "white normal dim"
    untracked = "magenta"
    branch = "cyan"

[commit]
    template = {{ .chezmoi.homeDir }}/.git_message_template

[core]
    editor = vim
    excludesfile = ~/.gitignore_global
    pager = less

[push]
    default = tracking

[web]
    browser = firefox
