#!/bin/bash

# vimrc hash: {{ include "dot_vimrc" | sha256sum }}

set -euo pipefail

VUNDLE_DIR="$HOME/.vim/bundle/Vundle.vim"

if [ -d "$VUNDLE_DIR/.git" ]; then
    echo "Updating Vundle..."
    git -C "$VUNDLE_DIR" pull --quiet
else
    rm -rf "$VUNDLE_DIR"
    echo "Cloning Vundle..."
    mkdir -p "$HOME/.vim/bundle"
    git clone https://github.com/VundleVim/Vundle.vim.git "$VUNDLE_DIR"
fi

echo "Installing Vim plugins..."
vim +PluginInstall +qall
