# Transverse helpers
alias ..="cd .."

if command -v eza &>/dev/null; then
  alias ls='eza --group-directories-first'
  alias ll='eza -lh --group-directories-first --git'
  alias la='eza -lha --group-directories-first --git'
  alias lt='eza --tree --level=2'
else
{{ if eq .chezmoi.os "linux" -}}
  alias ls='ls --color'
{{ end -}}
  alias ll='ls -lh'
  alias la='ls -lha'
fi
